.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.navBar {
  background-color: blanchedalmond;
}

.search-div {
  display: flex;
  margin-left: 150px;
}

.Search {
  
  border-radius: 40px;
  width: 700px;
  height: 65px;
  margin: 12px 5px;
  text-decoration: none;
  color: var(--text-color);;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

.selector {
  border-radius: 40px;
  width: 350px;
  height: 22.5px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 12px 5px;
}

.restaurants {
  margin-left: 100px;
  column-gap: 100px;
  display: flex;
  margin-top: 100px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
}

.restaurant {
  background-color: rgb(170, 178, 175);
  margin-top: 50px;
  width: 500px;
  height: 511px;
  display: flex;
  border-radius: 250px;
  flex-direction: column;
  margin-bottom: 5px;
}
.res-img {
  width: 500px;
  height: 350px;
}


.res-img img {
  width: 350px;
  height: 350px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 175px ;
}

.open-now {
  color:green;

}

.dishs-imgs {
  width: auto;
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.dish {
  margin-top: 100px;
  width: auto;
  /* width: auto; */
  display: flex;
  column-gap: 50 px;
  row-gap: 50px;
  justify-content: space-evenly;
  flex-direction: row;
}

.dish img {
  width: 500px;
  height: 500px;
  border-radius: 200px;
}

.singelRes-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  font-size: larger;
}

.res-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
