
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

li {
  list-style: none;
  font-family: 'Cantarell', sans-serif;
  font-size: larger;
}
 ul {
  font-family: 'Cantarell', sans-serif;
 }

 h1 {
  font-family: 'Cantarell', sans-serif;
  font-size:larger;
 }
a:link {
  text-decoration: none;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: red;
}

body {
  background-color: #FAEAFF;
  font-family: 'Cantarell', sans-serif;
}

.navBar {
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FF784D;
  color: white;
  width: max-width;
  width: 100%;
  margin-top: -15;
  padding-top: 0;
  border: 2px solid #E4EFE7;
  margin-left: -10px;
}

.cooking {
  width: 100%;
}
.cooking img {
  margin-top: -20px;
  width: 100%;
  height: 900px;
}
.cooking img img{
  width: 100%;
}

.search-div {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  
  
}

.Search {
  font-family: 'Cantarell', sans-serif;
  border-radius: 40px;
  border: none;
  width: 700px;
  height: 65px;
  margin: 12px 5px;
  text-decoration: none;
  color: var(--text-color);;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  background-color: #FF784D;
  
}

.selector {
  font-family: 'Cantarell', sans-serif;
  border-radius: 40px;
  border: none;
  width: 350px;
  height: 30.5px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 12px 5px;
  background-color: #FF784D;
}

.all-btn {
  margin-top: 75px;
  font-family: 'Cantarell', sans-serif;
  width: 400px;
  font-size: 1.2rem;
  border: 10px #FDFAF6 ;
  border-radius: 10px;
  background-color: #FF784D;
}

.restaurants {
  margin-left: 100px;
  column-gap: 75px;
  row-gap: 50px;
  display: flex;
  margin-top: 100px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.restaurant {
  background-color: #B0A8B9;
  margin-top: 50px;
  width: 400px;
  height: 400px;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  margin-bottom: 5px;
}
.res-img {
  width: 400px;
  height: 400px;
  border-radius: 25px;
}


.res-img img {
  width: 400px;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px ;
}

.open-now {
  color:green;

}

.single-page{
  font-family: 'Cantarell', sans-serif;
}

.dishs-imgs {
  width: auto;
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.dish {
  margin-top: 100px;
  width: auto;
  display: flex;
  column-gap: 50 px;
  row-gap: 50px;
  justify-content: space-evenly;
  flex-direction: row;
}

.dish img {
  width: 450px;
  height: 400px;
  border: 20px #E4EFE7 ;
  border-radius: 20px;
  
}

.singelRes-details {
  width: 800px;
  margin-left: 500px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  font-size: larger;
  background-color: #FF784D;
  border: 0.1px transparent;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.detls-card {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location{
  height: 320px;
  display: flex;
  flex-direction: column;
  background-color: #FF784D;
  border: 0.1px transparent;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.res-map {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.map {
  height: 320px;
  width: 900px;
  border: 0.1px transparent;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

